<div id = 'info'>
  <p>Full name Nottingham Forest Football Club</p>
  <p>Founded 1865; 150 years ago[1]</p>
  <p>Ground  City Ground</p>
  <p>Capacity  30,576</p>
  <p>Owner The Al Hasawi Family</p>
  <p>Chairman  Fawaz Al-Hasawi</p>
  <p>Manager Dougie Freedman</p>
  <p>League  The Championship</p>
  <p>2014–15 The Championship, 18th</p>

</div>