<form action = '/search' method="get">
  <label for = "option">Search for anything about the reds!</label>
  <input type="text" name="option">
  <button></button>

</form>

<img src = 'http://i44.tinypic.com/66db9h.gif' id = 'goal'>